<div class="container">
  <div class="title_box form_box">
    <h1>Add a Flat</h1>
    <%= render 'form' %>
    <%= link_to "Back to All Flats", flats_path, class: "btn btn-success mt-5"  %>
  </div>
</div>

