<div class="container">
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-6">
      <div class="form_styling">
        <h1>Create Flat</h1>
        <%= render 'form' %>
      </div>
      <%= link_to "Back to All Flats", flats_path, class: "btn btn-success mt-3"  %>
    </div>
  </div>
</div>

