body {
  background-color: #FFF;
  height: 100%;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card {
  margin: 12px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  background-color: #F8F9FA;
}

.top_content {
  margin: 20px;
}

.top_content h4 {
  font-weight: bold;
}

.top_content_two {
  display: flex;
  justify-content: flex-start;
}

.bottom_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0px 0px 0px;
  background-color: #FFF;
}

.icon_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.icon_text p {
  margin-bottom: 0px;
  margin-left: 5px;
}

.title_box {
  margin: 20px 0px;
  background-color: #F8F9FA;
  border-radius: 4px;
  padding: 15px 20px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

.des_box {
  height: 400px;
}

.title_box h3, .title_box p {
  margin-bottom: 0px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.content_left {
  width: 800px;
}

.content_right {
  width: 400px;
}

.share_box {
  display: flex;
  justify-content: space-between;
}

.share_box p {
  margin-bottom: 0px;
}

.share_box i {
  font-size: 26px;
}

.form_box {
  box-shadow: none;
  background-color: transparent;
}


